div#header 
    a(href="/") Home 
    |
    |
    |
    a(href='/artworks') Artworks
    |
    |
    |
    a(href='/addartwork') Upload
    |
    |
    |
    a(href='/register') Register
    |
    |
    |
    a(href='/account') Account