doctype html 
html(lang='en')
    head 
        include ./header
        title Home Page 
    body 
        h1 Home Page

        p Visit the pages using the links in the header: 

        h3 Artworks 
        p Here you can browse the gallery, searching for specific things, or just scroll through.

        h3 Upload 
        p Here you can post your own art. Make sure to be logged in as an Artist account.

        h3 Register 
        p This is where you want to start. Create an account and log in.

        h3 Account 
        p View account information 
